{% extends "AppEntrega/padre.html" %}
{% block contenidoQueCambia %}

<form action="{% url 'buscar' %}" method="GET">
    
    <input type="text" name="titulo" >

    <input type="submit" value="Buscar">

</form>

{% if mensaje %}

<p style="color: red;">{{mensaje}}</p>

{% endif %}

{% if titulo %}

<p> Estamos buscando el: {{titulo}}</p>

<ul>
    

         {% for libro in mis_libros %}
            <li>
                <p>{{ libro.titulo }}</p>
                <p>Por: {{ libro.precio }}</p>
                {% if libro.imagen %}
                <img src="{{ libro.imagen.url }}" alt="{{ libro.titulo }}"width="100px" height="100px">
                
              {% endif %}
            </li>
        {% empty %}
            <li>No hay comentarios aún.</li>
        {% endfor %}

</ul>

{% endif %}

{% endblock %}



