{% extends "AppEntrega/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1> Getsuga</h1>
<p>
    Bienvenidos a Getsuga, tu destino literario en línea. En nuestra librería virtual, explorarás un mundo de
    conocimiento, aventuras y emociones, todo al alcance de un clic. Desde clásicos atemporales hasta las últimas
    novedades, Getsuga ofrece un catálogo diverso y emocionante para satisfacer todos los gustos y edades.

    En Getsuga, creemos en el poder de los libros para transportarte a mundos desconocidos, desafiar tus pensamientos y
    nutrir tu imaginación. Nuestro compromiso es brindarte una experiencia de lectura excepcional, sin importar dónde te
    encuentres en el mundo.

    Navega a través de nuestras secciones cuidadosamente curadas, desde literatura contemporánea hasta ciencia,
    historia, romance y mucho más. Descubre libros electrónicos, audiolibros y recursos educativos para enriquecer tu
    mente y tu vida.

    ¿Te gustaría perderte en una apasionante novela de misterio, aprender algo nuevo, o explorar clásicos que han
    resistido el paso del tiempo? En Getsuga, tenemos un libro para cada ocasión y cada lector.

    Además, nuestro equipo de expertos está aquí para ayudarte a encontrar la próxima joya literaria que te cautivará.
    ¡Empieza tu viaje de descubrimiento literario con nosotros en Getsuga, donde las historias cobran vida y la
    sabiduría se encuentra a solo un clic de distancia!</p>
<h3></h3>

{% endblock %}