{% extends "AppEntrega/padre.html" %}
{% block contenidoQueCambia %}



{% for figura in figuras %}
<div>
  <h2>{{ figura.nombre }}</h2>
  <p>Descripción: {{ figura.marca }}</p>
  <p>Precio: ${{ figura.precio }}</p>
  {% if figura.imagen %}
  <img src="{{ figura.imagen.url }}" alt="{{ figura.titulo }}" width="100px" height="100px">

  {% endif %}

  <a href="{% url 'Detalle_figura' figura.id %}">Ver detalles</a>
  {% if figura.user == user %}

  <!-- Botón para editar -->
  <a href="{% url 'Actualizar_figura' figura.id %}">Editar</a>

  <!-- Botón para eliminar -->
  <a href="{% url 'Eliminar_figura' figura.id %}">Eliminar</a>
  {% endif %}

</div>
{% endfor %}

{% endblock %}