{% extends "AppEntrega/padre.html" %}
{% block contenidoQueCambia %}



{% for juego in juegos %}
<div>
  <h2>{{ juego.nombre }}</h2>
  <p>Descripción: {{ juego.marca }}</p>
  <p>Descripción: {{ juego.genero}}</p>
  <p>Precio: ${{ juego.precio }}</p>
  {% if juego.imagen %}
  <img src="{{ juego.imagen.url }}" alt="{{ juego.nombre }}" width="100px" height="100px">

  {% endif %}

  <a href="{% url 'Detalle_juego' juego.id %}">Ver detalles</a>
  {% if juego.user == user %}
  <!-- Botón para editar -->
  <a href="{% url 'Actualizar_juego' juego.id %}">Editar</a>

  <!-- Botón para eliminar -->
  <a href="{% url 'Eliminar_juego' juego.id %}">Eliminar</a>
  {% endif %}

</div>
{% endfor %}

{% endblock %}