{% extends "AppEntrega/padre.html" %}
{% block contenidoQueCambia %}



<body style="background-color: rgb(197, 20, 251);">

    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token%}

        <table>

            {{ form.as_table }}
        </table>
        <input type="submit" , value="Enviar">

    </form>

    <h1>Mangas</h1>
    <p>Lista de mangas que te pueden interesar</p>
    <a href="{% url 'Manga_lista' %}" class="btn btn-secondary">Publicaciones</a>
</body>

{% endblock %}