{% extends "AppEntrega/padre.html" %}
{% block contenidoQueCambia %}
<!DOCTYPE html>
<html>

<head>
    <title>Título de la Página</title>
</head>

<body>
    <h1>Acerca de mi:</h1>

    <p>Nombre: Aquiles
        Edad: 23
        Profesión: Estudiante

        Con una sonrisa siempre en el rostro y una actitud positiva ante la vida, Aquiles es una persona que irradia
        energía y entusiasmo. A lo largo de su vida, él ha logrado un equilibrio impresionante entre mecanica y cocina.

        Desde muy joven, Aquiles demostró un talento innato para la cocina. Él abrazó su vocación con pasión y
        dedicación, lo que le permitió alcanzar un nivel de excelencia notable en pizzeria, sandwicheria y asafos. La
        perseverancia de Aquiles en enfrentar desafíos y buscar soluciones innovadoras lo ha llevado a sobresalir en su
        profesión.

        A pesar de su ocupación exigente, Aquiles siempre encuentra tiempo para dedicarse a entrenar. Cocinar es una
        parte esencial de su vida, y él disfruta compartiendo esta pasión con sus amigos y familia.

        Además de ser un profesional talentoso y un apasionado de sus pasatiempos, Aquiles es una persona generosa y
        amable.

        En resumen, Aquiles es un individuo inspirador que ha logrado un equilibrio impresionante entre su carrera y sus
        pasatiempos, mientras mantiene una actitud admirable hacia la vida y el servicio a los demás. La determinación y
        la alegría que él aporta al mundo son verdaderamente encomiables. Estamos emocionados por ver las grandes cosas
        que Aquiles continuará logrando en el futuro.

        En resumen, Aquiles es una persona excepcional que ha logrado mucho y sigue inspirando a los demás con su
        determinación, pasión y bondad. Estamos ansiosos por ver qué sorpresas emocionantes el futuro tiene reservadas
        para Aquiles.</p>

</body>

</html>
{% endblock %}