{% extends "AppEntrega/padre.html" %}
{% block contenidoQueCambia %}

{% for objeto in sucursales %}
    <!-- Mostrar la información del objeto aquí -->
   <!-- <p>
    {{ objeto.nombre }}
   </p> -->
   <ul>
    <li>
       nombre: {{ objeto.nombre }}
        
    </li>
    <li>
       domicilio: {{ objeto.domicilio }}
    </li>
   </ul>
{% endfor %}

 

<body style="background-color: rgb(255, 157, 0);">

<form action="" method="POST">{% csrf_token%}

    <table>

        {{ miFormulario.as_table }}
    </table>
<input type="submit", value="Enviar">

</form>

<h1>El Lector Libreria</h1>
<p>Encontranos en nuestras sucursales:</p>

</body>

{% endblock %}